body {
  background: linear-gradient(to right, #3766be, #cfdef3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 12px;
}

button {
  border-radius: 8px !important;
}